@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Heebo";
  src: url("/public/fonts/heebo-v28-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Heebo";
  src: url("/public/fonts/heebo-v28-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/public/fonts/heebo-v28-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
body {
  font-family: "Heebo", sans-serif;
}
